body {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;

  @media (orientation: portrait) {
    flex-direction: column;
  }

  @media (orientation: landscape) {
    flex-direction: row;
  }
}

#board {
  background: #101027;
  aspect-ratio: 1/1;

  @media (orientation: portrait) {
    width: 100%;
  }

  @media (orientation: landscape) {
    height: 100%;
  }
}

#controls {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.wall-line {
  stroke: #5a5a5a10;
  stroke-linecap: butt;
  cursor: pointer;
}

.wall-touch {
  pointer-events: all;
  fill: none;
  cursor: pointer;
}

.wall-group.active .wall-line {
  stroke: #5a5a5a;
}

.wall-group.dangling .wall-line {
  stroke: #5b2828;
}

.wall-group:not(.active):hover .wall-line {
  stroke: #aaa;
}

.wall-group.active:hover .wall-line {
  stroke: white;
}

.galaxy-center {
  fill: #aaaaaa;
}

.galaxy-center.cut {
  fill: #5b2828;
}